header{
    width: 80%;
    margin: 0 auto;
    background-color:#2C69A0;

}

.logo{
    padding: 10px;
}
.chuc-vu{
    text-align: right;
    font-size: 20px;
    color: #FFFFFF;
    
}
/* MENU */
.Menu-container{
    
    width: 80%;
    margin: 0 auto;
    margin-top: 1px;
    background-color:#2C69A0;
    color: #FFFFFF;
}

.menu, .menu-right{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li, .menu-right li{
    position: relative;
}

.menu li a, .menu-right li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

.menu li:hover {
    background: #444;
    
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: #555;
    display: none;
    min-width: 150px;
    z-index: 1;
}

.submenu li {
    width: 100%;
}

.submenu li a {
    padding: 10px;
    display: block;
    color: white;
}

.dropdown:hover .submenu {
    display: block;

}

.menu-right img {
    width: 25px;
    height: auto;
}
/* Thông tin giảng viên */
.Thong-Tin_GV{
    padding-top: 10px;
    text-align: right;
    
}

/* Lịch */
footer{
    background-color: #f1f1f1; 
    padding: 20px; 
    text-align: center;
    
}

