<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Public/style/style.css">
</head>

<body>

    <footer>
        <div>
            Trường Đại Học Nha Trang (Nha Trang University)<br>

            Số 02 Nguyễn Đình Chiểu - Nha Trang - Khánh Hòa<br>

            Tel : 0583 831 149 Fax: 0583 831 147
        </div>
    </footer>
</body>

</html>